@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #231955;
  margin-right: 20px;
}
.container > h3 {
  margin-top: 20px;
  color: #fff;
}

.loader {
  border: 7px solid #fff;
  border-top: 7px solid #231955;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.main-list-cont {
  text-align: center;
}

.main-list-cont h1 {
  color: white;
}

.list-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21rem;
  height: auto;
  padding: 7px;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  align-self: flex-start;
}

.Item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.Item-title-cont {
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
  margin-top: 5px;
}

.add-btn {
  background-color: #261c58;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-size: 15px;
  width: 70%;
  text-align: center;
  display: none;
}

.add-btn a {
  text-decoration: none;
  color: white;
}
