.header {
  width: 100vw;
  height: 3.5rem;
  display: flex;
  background-color: #261c58;
  align-items: center;
  gap: 4rem;
  padding: 0.5rem;
  color: #efefef;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header h4 {
  margin-left: 1rem;
}

.header p {
  margin-top: 1rem;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 430px){
  .header{
    height: 2rem;
    padding: 0.5rem;
  }

  .header h4{
    margin-left: 1rem;
    font-size: 15px;
  }

  .header-list{
    font-size: 10px;
    gap: 2rem;
    margin-left: 1.5rem;
  }
  
}
